<%= form_with(model: areaatuacao, local: true) do |form| %>
  <% if areaatuacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(areaatuacao.errors.count, "error") %> prohibited this areaatuacao from being saved:</h2>

      <ul>
      <% areaatuacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
