<%= form_with(model: formmilitar, local: true) do |form| %>
  <% if formmilitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formmilitar.errors.count, "error") %> prohibited this formmilitar from being saved:</h2>

      <ul>
      <% formmilitar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
