<%= form_with(model: formacaoacad, local: true) do |form| %>
  <% if formacaoacad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formacaoacad.errors.count, "error") %> prohibited this formacaoacad from being saved:</h2>

      <ul>
      <% formacaoacad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
