<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Somos do Banco de Talentos. Nós estamos entrando em contato para notificá-lo que seu email foi alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Somos do Banco de Talentos. Nós estamos entrando em contato para notificá-lo que seu email foi alterado para <%= @resource.email %>.</p>
<% end %>
